/* ===============================
   Colour Palette:
   ---------------
   Dark Grey/Gris Foncé:	                         #465065
   Light Grey/Gris Claire:			                   #9aa0ab
   Very Light Grey/Gris Très Claire (footer):       #b9c0c6
   Red/Rouge:			                               #f0454c
   Hover on icons, button and "More ->"             #000
   =============================== */

/* General */

html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}